.prod-image {
  max-width: 50px;
  max-height: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 5px;
}

th {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* tr:hover {
  background-color: #A6BB8D;
  color: white;
  ;
} */

.image-column {
  display: flex;
  flex-direction: row;
}

.image-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header1 {
  text-align: center;
}

.button-delete {
  background-color: #f2756d;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-edit {
  background-color: #76ee9e;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.add-product-button {
  display: inline-block;
  padding: 6px 24px;
  background-color: #609966;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.add-product-button:hover {
  background-color: #A6BB8D;
}

.box-modal {
  position: absolute;
  top: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: 24;
  padding: 30px;
  border-radius: 8px;
  width: 50%;
  margin: 2rem;
}