@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
  font-family: 'Oswald', monospace;
}


/* Product Uploader/Editor*/
.image {
  position: relative;
}

.image button {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #555;
}

.tag span {
  margin-left: 0.5rem;
  cursor: pointer;
  color: #888;
}

video {
    object-fit: cover;
}

.button-container {
  /* position: fixed; */
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  
}

.button-container button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-container button:hover {
  background-color: #FF9800;
}